## connect with database

In [2]:
import sqlalchemy
import sqlite3
import pandas as pd

In [3]:
%load_ext sql

In [4]:
con = sqlite3.connect("my_data.db")
cur=con.cursor()

In [5]:
%sql sqlite:///my_data.db

In [6]:
df = pd.read_csv("Spacex.csv")
df.to_sql("SPXTABLE", con, if_exists="replace",method="multi")

101

In [7]:
%%sql
create table SPACEXTABLE as select * from SPXTABLE where Date is not null;;

 * sqlite:///my_data.db
Done.
Done.

[]

In [10]:
df["Mission_Outcome"].unique()

array(['Success', 'Failure (in flight)',
       'Success (payload status unclear)', 'Success '], dtype=object)

In [17]:
%%sql
SELECT * FROM SPACEXTABLE LIMIT 5;

 * sqlite:///my_data.db
Done.

[(0, '2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (1, '2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (2, '2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (3, '2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (4, '2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [18]:
%%sql
SELECT DISTINCT LAUNCH_SITE FROM SPACEXTABLE;

 * sqlite:///my_data.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]